<div class="content-wrapper">
    
    <ul class="project-list">
        <li ng-repeat="project in vm.projects" class="project-item">
            <div class="project-image-section">
                <div class="project-description-section">
                    <div class="project-description">
                        <div class="project-title">
                            <h3>{{project.title}}</h3>
                            <p>{{project.description}}</p>
                            <div class="project-buttons">
                                <a ui-sref="projectEdit({projectId: project.projectId})"
                                   class="btn btn-primary" role="button">Edit</a>
                                <a ui-sref="projectDetail({projectId: project.projectId})" 
                                   class="btn btn-default" role="button">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="project-next-previous">
        <button id="" type="button" class="btn btn-default" aria-label="Previous"
                ng-click="vm.previousProjects($event)"
                ng-disabled="vm.disableBtnPrevious || !vm.previousPage">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
        </button>
        <button id="" type="button" class="btn btn-default" aria-label="Next"
                ng-click="vm.nextProjects($event)"
                ng-disabled="vm.disableBtnNext || !vm.nextPage">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
        </button>
    </div>
</div>
