/*div {
    border: 1px solid;
}*/

html {
height: 100%;
}

body {
height: 100%;
}

.menu {
  font-size: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 0;
  margin: 75px 0 0 0;
}

  .menu li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
  }

    .menu li.active {
      font-weight: bold;
    }

    .menu li a {
      color: #eee;
      text-decoration: none;
    }


#sidebar {
  background: #480059;
  color: #eee;
  position: fixed;
  height: 100%;
  width: 15%;
  overflow: hidden;
  left: 0;
  margin: 0;
  -moz-transition: left ease .25s;
  -o-transition: left ease .25s;
  -webkit-transition: left ease .25s;
  transition: left ease .25s;
}


  #sidebar.hide-sidebar {
    left: -15%;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
  }

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#sidebarToggle {
    position: absolute;
    top: 0;
    left: 0;
    margin: -10px 0 0 0;
    border:none;
}

.logo {
  position: absolute;
  bottom: 95px;  
  width: 100%;
  text-align:center;
  padding: 5px;
}

.logo img {
    width: 80%;
}


#wrapper {
  margin: 0 0 0 15%;
  -moz-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;
  height: 100%;
}

  #wrapper.hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
  }

.header {
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    /*margin: 0 15px 0;*/
    height: 25%;

}

.person-info-container {
    position: relative;
}
.person-info {
    background-color: #480059;
    height: 150px;
    width: 400px;
    color: white;
    padding: 0 10px 0;
    float: right;
}

.picture-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 14px 0 14px 0;
}
    .person-picture {
        background-color: white;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto;
    }

    .person-details {
        padding: 10px 0 0 0;
    }

.absolute-center {
  width: 90%;
  height: 90%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    width: 100%;
    background-color: antiquewhite;
    height: 75%;
    overflow: hidden;
    padding: 2%;
}

.project-list {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
}
/*****Animate*****/
/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .project-item
  class
*/
.project-item{
    position:relative;
    float: left;
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    height: 100%;
    width: 19.6%;
    margin: 0.2%;
}

    .project-item.ng-enter-stagger {
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
.project-item.ng-enter, .project-item.ng-move {
  -webkit-transition:0.7s ease-out all;
  -moz-transition:0.7s ease-out all;
  -o-transition:0.5s linear all;
  transition:0.7s ease-out all;
  left:100%;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.project-item.ng-enter.ng-enter-active,
.project-item.ng-move.ng-move-active {
  left: 0;
}
